version: '3.8'

services:
  web:
    build: .
    container_name: wonderland-toy-store
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=run.py
    volumes:
      - .:/app
    command: python run.py
